spacy==3.6.0
thinc==8.1.0
scikit-learn
torch
transformers
chardet
PyPDF2
sentence-transformers
streamlit
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.6.0/en_core_web_sm-3.6.0.tar.gz
